html(lang="en")
    head
        title Welcome!
        meta(charset="utf-8")
        script(src="https://kit.fontawesome.com/ac0925c6df.js" crossorigin="anonymous")
        link(rel="stylesheet", href="../public/assets/css/main.css")
        link(rel="stylesheet", href="../public/assets/css/home.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,200,100", rel='stylesheet', type='text/css')
    body
        div.wrapper
            div.mainWindow
                div.greeting-container
                    div.greeting
                        p.greeting-text Welcome to the Social Network Administration Module!
                        a.greeting-button(href='http://localhost:8080/users') Start
